<div class="container">
	<div class="row align-items-center">
    <div class="col-md-6 offset-md-3 mt-5">
      <h2 class="text-center">Github Search</h2>
      <app-search-box (search)="handleSearch($event)"></app-search-box>
      <h1>{{username}}</h1>
    </div>
	</div>
</div>

<ul class="top-menu">
  <li>
      <a routerLink="profile">Profile</a>
  </li>
  <li>
      <a routerLink="repos">Repositories</a>
  </li>
  <li>
      <a routerLink="gists">Gists</a>
  </li>
</ul>
<router-outlet></router-outlet>
